@import './_reset-2.2.scss';
@import './media';
@import "svg-url-1.0";

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
  url("/fonts/Montserrat-Regular.ttf") format('ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
  url("/fonts/Montserrat-ExtraLight.ttf") format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
  url("/fonts/Montserrat-Bold.ttf") format('ttf');
  font-weight: 700;
}

//
//@font-face {
//  font-family: 'Snell Roundhand';
//  src: local('Snell Roundhand'),
//  url("/fonts/Snell_Roundhand.ttf") format('ttf');
//}
//
//@font-face {
//  font-family: 'Snell Roundhand';
//  src: local('Snell Roundhand'),
//  url("/fonts/snellroundhand_bold.otf") format('otf');
//  font-weight: 700;
//}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  & {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1E0606;
    font-size: 16px;
    font-style: normal;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.header {
  & {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 77px;
    padding-top: 15px;
    position: fixed;
    background-color: white;
    z-index: 2;
  }

  &__button {
    width: 73px;
    height: 40px;
    text-align: center;
    margin-top: 2px;
    border-radius: 10px;
    border-color: #F1C1B1;
    border-style: solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__menu {
    margin-right: 23px;
    padding: 0;
    box-sizing: border-box;
  }

  &__wrapper {
    width: 935px;
    display: flex;
  }

  &__logo {
    width: 192px;
    margin-top: -6px;
    margin-right: 162px;
  }

  &__menulist {
    display: flex;
    justify-content: space-between;
  }

  &__menulist > li {
    padding: 8px 16px;
    line-height: 28px;
  }

}

.menuFiller {
  position: relative;
  width: 100%;
  min-height: 77px;
  box-sizing: border-box;
}

.upperPicture {
  & {
    width: 100%;
    background: no-repeat top right url("../img/Узор 2.svg"), no-repeat bottom left url("../img/Узор 1.svg") #C2C2C2;
    min-height: 592px;
    padding-top: 123px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  &__wrapper {
    width: 935px;
  }

  &__wrapper > img {
    width: 106px;
    margin-left: 818px;
  }

  &__wrapper > h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    width: 370px;
    height: 249px;
    line-height: 49px;
    margin-bottom: 37px;
  }

}

.main {
  padding-top: 100px;
  padding-bottom: 100px;
  background: no-repeat right 101% url("../img/main3.svg"),
  no-repeat left 32% url("../img/main2.svg"),
  no-repeat right -20% url("../img/main1.svg");
}

.greetings {

  & {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

  }

  &__wrapper {
    width: 935px;
    border-bottom: #F7ECED 2px solid;
  }

  &__wrapper > h1 {
    color: #88173B;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 68px;

  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__content > p {
    width: 560px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-right: 106px;
    margin-bottom: 100px;
    min-width: 560px;
  }

  &__directorVideoBlock {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }


  &__directorVideo {
    width: 267px;
    height: 267px;
    border-radius: 200px;
    background-color: #c2c2c2;
    margin-bottom: 18px;

  }

  &__directorVideo_h2 {
    color: #88173b;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    width: 225px;
  }

}


.program {
  & {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__wrapper {
    width: 935px;
    margin-bottom: 49px;
  }

  &__wrapper > h1 {
    color: #88173B;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 68px;
    max-width: 559px;
    margin-bottom: 72px;

  }

  &__day {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__dayTitle {
    display: flex;
    margin-bottom: 12px;

  }

  &__dayTitleDate {
    background: #F1C1B1;
    border-radius: 38px;
    width: 241px;
    height: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;

  }

  &__dayTitleDate > p {
    font-family: 'Snell Roundhand';
    font-style: italic;
    font-weight: 900;
    font-size: 50px;
    color: #88173B;
    margin-bottom: 13px;


  }

  &__dayTitleLine {
    background: #88173B;
    border-radius: 38px;
    width: 820px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative;
    z-index: 0;
    margin-top: 7px;
    padding-left: 249px;
    padding-right: 22px;
  }

  &__daynumber {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;

  }

  &__dayweek {
    font-family: 'Snell Roundhand';
    font-style: italic;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
  }

  &__dayNote {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

  &__dayNoteWrapper {
    display: flex;
    width: 792px;
    border-bottom: 1px solid #F1C1B1;
    line-height: 30px;
  }

  &__event {
    width: 644px;
  }

  &__time {
    font-size: 16px;
    line-height: 30px;
    color: #E8806F;
    font-weight: 500;
    width: 148px;
  }

  &__lastNote {
    margin-bottom: 19px;
    border-bottom: 0px;
  }

  &__highlited {
    background: #F9E6DF;
  }

  &__downloadButton {
    width: 233px;
    height: 36px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}

.footer {
  & {
    height: 355px;
    background: #F7ECED;
  }

}